<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attendance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="AttendanceDb" connectionString="MultipleActiveResultSets=True;Data Source=SQL8001.site4now.net;Initial Catalog=db_a8e5b9_attendancedb;User ID=db_a8e5b9_attendancedb_admin;Password=Dimatylop100" />
    <add name="Attendance.Properties.Settings.db_a8e5b9_attendancedbConnectionString"
      connectionString="Data Source=SQL8001.site4now.net;Initial Catalog=db_a8e5b9_attendancedb;Persist Security Info=True;User ID=db_a8e5b9_attendancedb_admin;Password=Dimatylop100"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Attendance.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="checkBox" serializeAs="String">
        <value>False</value>
      </setting>
    </Attendance.Properties.Settings>
  </userSettings>
</configuration>